<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-web.html}">

<body>
	<div layout:fragment="content">
		<!--begin::Container-->
		<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
			<!--begin::Form-->
			<div class="d-flex flex-center flex-column flex-lg-row-fluid">
				<!--begin::Search-->
				<div class="w-lg-500px p-10">
					<form method="get" th:action="@{ticket-train}">
						<!--begin::Heading-->
						<div class="text-center mb-11">
							<!--begin::Title-->
							<h1 class="text-gray-900 fw-bolder mb-3">Tìm vé tàu lửa</h1>
							<!--end::Title-->
						</div>
						<!--begin::Heading-->
						<select name="departure_id">
            				<option th:each="departure : ${departures}" th:value="${departure.id}" th:text="${departure.name}"></option>
						</select>
						<select name="arrival_id">
            				<option th:each="arrival : ${arrivals}" th:value="${arrival.id}" th:text="${arrival.name}"></option>
						</select>
						<input type="submit" value="Tim Kiem">
					</form>
				</div>
				<!--end::Search-->
				<!--begin::Ticket-->
				<div class="w-lg-500px p-10">
					<div th:each="route : ${routes}">
						<p th:text="${route.name}">asd</p>
						
					</div>
				</div>
				<!--end::Ticket-->
			</div>
			<!--end::Form-->
		</div>
	</div>
</body>

</html>