<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách các station</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Danh sách các station</h1>
        <a th:href="@{/admin/station/create}" class="btn btn-primary mb-3">Tạo mới</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Địa điểm</th>
                    <th>Thời gian mở cửa</th>
                    <th>Thời gian đóng cửa</th>
                    <th>Loại</th>
                    <th>Hành động</th>
                </tr>
            </thead>
			<tbody>
			    <tr th:each="station : ${STATION}">
			        <td th:text="${station.id}"></td>
			        <td th:text="${station.name}"></td>
			        <td th:text="${station.location}"></td>
			        <td th:text="${#temporals.format(station.openingTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#temporals.format(station.closingTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
			        <td th:text="${station.type}"></td>
			        <td>
			            <a th:href="@{/admin/station/{id}(id=${station.id})}" class="btn btn-primary btn-sm">Xem</a>
			            <a th:href="@{/admin/station/edit/{id}(id=${station.id})}" class="btn btn-secondary btn-sm">Sửa</a>
			            <a th:href="@{/admin/station/delete/{id}(id=${station.id})}" class="btn btn-danger btn-sm">Xóa</a>
			        </td>
			    </tr>
			</tbody>
        </table>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
