<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-admin.html}">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết Nhà sản xuất</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5" layout:fragment="content">
        <h1 class="mb-4">Chi tiết Nhà sản xuất</h1>
        
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${manufacture.name}"></h5>
                <p class="card-text">Số điện thoại: <span th:text="${manufacture.phone}"></span></p>
                <p class="card-text">Email: <span th:text="${manufacture.email}"></span></p>
            </div>
        </div>
        <a th:href="@{/admin/manufacture}" class="btn btn-primary mt-3">Quay lại</a>
    </div>
</body>
</html>
